*{
    margin: 0;
    padding: 0;
}
.black{
    color:#3c3c3b;
}
.language-bar{
    background-color: #00867a;
    padding-left: 30px;
}
select{
    padding:0 10px;
    border-radius:5px ;
}

header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    z-index: 10;

}
.logo{
    margin: 20px;
    height: 50px;
}
.main-menu a{
   
   padding: 0 20px;
   text-transform: uppercase;
   text-decoration: none;
   
}
.main-menu a:hover{
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #00867a;
 }
.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-nav a{
    text-transform: uppercase;
    padding: 0 20px;
    text-decoration: none;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0  0  0 40px;
}
.search-icon{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    left: -41px;
}
.bag-icon{
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    padding: 8px 0 2px;
}
.search-input{
    height: 20px;
    width: 220px;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    text-transform: uppercase;
    border:1px solid #f5f5f6;
    border-left: 0;
    background: #f5f5f6;
}
.search-input:focus{
   outline:none;
}
.main{
    height: calc(100vh - 150px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    overflow-y: scroll;
}
footer{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    color: white;
   
    background: black;
}
footer select{
    position: absolute;
    left:50px;
}
.promo-offer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    height: 500px;
    width: 100vw;
    background: #00867a;
}
.offer{
    color: white;
    font-size:100px;
    font-weight: 900;
}
.code{
    font-size: 50px;
    text-transform: uppercase;
    background: white;
    font-weight: 900;
    color: #00867a;
    padding: 20px;
}